<?xml version="1.0" encoding="utf-8" ?>
<!--
Copyright (c) 2016 William Schubarg
-->
<connectionStrings>
  <add name="LottoNumbers"        
       connectionString="Data Source=GARAGE-PC\SQLEXPRESS;Initial Catalog=StateLottoNumbers;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=True"
       providerName="System.Data.SqlClient"/>  
</connectionStrings>
